/* Defaults */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: white;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

h1 {
    font-family: 'Courgette', cursive;
    font-weight: 100;
    font-size: 1.8rem;
}


body {
    overflow: hidden;
    background: url(./bg-pc.jpg) no-repeat center;
    background-size: cover;
    backdrop-filter: brightness(60%);
    position: relative;
    max-height: 100vh;
}

/* navbar */
nav {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav h1 {
    font-size: 2rem;
    text-align: center;
}

/* main */

main {
    height: 100vh;
    width: 100vw;
    /* background: red; */
    display: flex;
}

.song-list {
    width: 60%;
    height: 75%;
    background: aliceblue;
    margin: 5px 8px;
    border-radius: 20px;
    backdrop-filter: blur(17px) saturate(177%);
    -webkit-backdrop-filter: blur(17px) saturate(177%);
    background-color: rgba(0, 0, 0, 0.48);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    overflow-y: scroll;
    overflow-x: hidden;
}

.song-list::-webkit-scrollbar {
    display: none;
}

.song-list::-webkit-scrollbar-track {
    border-radius: 50px;
}

.song-list::-webkit-scrollbar-thumb {
    background: rgb(153, 149, 172);
    border-radius: 20px;
}

.scroll-visible::-webkit-scrollbar {
    display: block;
    width: 1.5px;
    transition: all 2s ease-in;
}

.songs_head {
    padding: 10px 15px;
    letter-spacing: 1.5px;
    text-decoration: underline white;
    -webkit-text-stroke: 2px solid black;
    color: none;
}

.songs {
    width: 100%;
    padding: 10px 50px;
}

.song {
    display: flex;
    height: fit-content;
    width: 100%;
    align-items: center;
    padding: 0px 0px 5px 10px;
    justify-content: space-around;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
}

.song-img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
}

.song-img img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    object-position: center;
}

.song-details {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.song-name {
    font-family: 'Gluten', cursive;
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: 2px;
}

.artists {
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 3px;
}

.song-btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0px 2px;
    cursor: pointer;
}

/* Current */
.current {
    width: 40%;
    height: fit-content;
    margin: 5px 8px;
    border-radius: 20px;
    backdrop-filter: blur(17px) saturate(177%);
    -webkit-backdrop-filter: blur(17px) saturate(177%);
    background-color: rgba(0, 0, 0, 0.48);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px 50px;
}

.current-head {
    text-decoration: underline white;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.current-song-img {
    margin: 20px 0px 10px 0px;
    width: 70%;
    height: 70%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.current-song-img img {
    width: 100%;
    height: 100%;
}

.current-song-name h1 {
    font-size: 2rem;
    letter-spacing: 2px;
    color: white;
    -webkit-text-stroke: 0.35px black;
}

.current-song-name p {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    margin: 20px 0px;
    color: white;
}

/* player */

#player {
    height: 14vh;
    position: sticky;
    width: 100vw;
    bottom: 0px;
    background: #000;
}

.playing-gif {
    height: 100%;
    width: 100%;
    margin-right: 10px;
    background: red;
    position: relative;
}

.playing-gif video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.playing-song {
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0px;
    position: absolute;
    padding: 10px 0px;
    backdrop-filter: brightness(30%);
}

.playing-name p {
    font-family: 'Gluten', cursive;
    letter-spacing: 1.25px;
    font-size: 1.8rem;
}

/* Progress bar css */
.progress {
    margin: 15px 0px 5px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

input {
    width: 60%;
    height: 3.5px;
    border-radius: 20px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: all .2s;
}


.playing-btn {
    width: 10%;
    height: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.playing-btn i {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
}

@media screen and (max-width : 850px) {
    main{
        height: 100vh;
    }
    .song-list{
        height: 70%;
    }
    section{
        height: 20vh;
    }
    .song-list{
        width: 100%;
    }
    .current{
        display: none;
    }
    .song-name{
        font-size: 1rem;
        text-align: center;
        line-height: 20px;
    }
    input{
        width: 85%;
    }
    .playing-btn{
        width: fit-content;
    }
    .playing-btn i {
        margin: 0px 10px;
    }
}

@media screen and (max-width : 550px){
    .songs{
        padding: 0px 5px;
    }
    .song-name{
        font-size: 0.9rem;
        text-align: center;
        line-height: 20px;
    }
    .artists{
        font-size: 0.6rem;
    }
    .song-img{
        max-height: 40px;
        max-width: 40px;
        margin-right: 20px;
    }
    .song-img img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;
    }
}